.bgimg {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9VyZFQyfMHk5XJeVhiWiOHT-DYiBuTFyTYQ&usqp=CAU");
    background-repeat: no-repeat;
    background-position: right top;
}